name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - run: flutter --version
      - run: flutter pub get
      - run: flutter test
      - run: flutter pub get
        working-directory: example
      - run: flutter test
        working-directory: example
      - run: dart pub get
        working-directory: analysis_tests
      - run: dart test
        working-directory: analysis_tests
